include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p	 class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"	inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск" inputmode='search')
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

		//- +select('Регион','Все','Все1','Все2','Все3')
mixin filter
	+b.filter
		+e.row.row
			+filterItem('Регион','Все','Все1','Все2','Все3')
			+filterItem('Месяц','Все','Все1','Все2','Все3')
			+filterItem('Сотрудник','Выбрано 3','Все1','Все2','Все3')
			+filterItem('Роль','Все','Все1','Все2','Все3')
mixin filterDashboard
	+b.filter
		+e.row.row
			+filterItem('Возраст:','Все','Все1','Все2','Все3')
			+filterItem('Округ:','Все','Все1','Все2','Все3')
			+filterItem('Регион:','Выбрано 3','Все1','Все2','Все3')
			+filterItem('Год:','Все','Все1','Все2','Все3')
mixin filter13
	+b.filter
		+e.row.row
			+filterItem('Региональный проект:','Все','Все1','Все2','Все3')
			+filterItem('Показатели:','Все','Все1','Все2','Все3')
			+filterItem('Плановое значение на конец года:','Выбрано 3','Все1','Все2','Все3')

mixin filterItem(title,btn,...items)
	.col-sm-6.col-md
		+e.item
			+e.title= title
			+e.btn--js.btn.btn-outline-info.BUTTON= btn
			+e.dropdown.dropdown.visually-hidden
				each item in items
					+in-c('checkbox',`${item}`).filter__checkbox


mixin filterItem2(title,btn,...items)
	.col-4
		+e.item
			+e.title= title
			+e.btn--js.btn.btn-outline-info.BUTTON= btn
			+e.dropdown.dropdown.visually-hidden
				each item in items
					+in-c('checkbox',`${item}`).filter__checkbox

mixin displayRow
	+b.display-wrap
		+e.display-row
			+e.block.d-none.d-sm-block
				+select('Отображать по','20','40')
			+pugin()
